@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import 'tailwindcss';

:root {
  --color-primary: linear-gradient(135deg, #e0f7fa, #80deea);
}

* {
  box-sizing: border-box;
  font-family: 'Lora', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lora', sans-serif;
  background: var(--color-primary);
  background-attachment: fixed;
  height: 100vh;
}
